/* Input Field Shadow */

.box-shadow {
  box-shadow: 0px 0px 1px 0px var(--shadow);

}


/* Loader  */

.loader-parent {
  width: 100%;
  height: 100%;
  background-color: var(--primary-hover-dim);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: not-allowed;

  &.fade-out {
    opacity: 0;
    pointer-events: none;
  }

  .loader-container {
    position: relative;

    .outer {
      position: absolute;
      animation: rotate 3s infinite linear;
      top: 0;
      left: 0;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }
}


/*--- Input Fields  ---*/


.primary-input{
    background-color: var(--secondary-light-bg);
    color: var(--primary-text);
    border-radius: 5px;
    padding-block: 10px;
    padding-inline: 24px;
    width: 400px;
    
    @media (max-width: 668px) {
        width: 100%;
    }

    &::placeholder{
        color: var(--text-light-gray);
    }
}

.auth-input{
    padding-inline: 10px;
    outline:none;
    font-size: 14px;
    border-radius: 10px;

        /* @apply px-2.5 py-1.5 placeholder:text-[14px] outline-none w-full text-[14px] rounded-l-md ; */

}
.secondary-input{
    padding-block: 4px;
    padding-inline:8px;
    outline:none;
    color: var(--primary-text);
    ::placeholder{
        color: text(--text-gray);
        font-weight: 600;
    }
}