/* Input Field Shadow */

.box-shadow {
  box-shadow: 0px 0px 1px 0px var(--shadow);
}

.full-box-shadow{
  box-shadow: 0px 0px 2px 2px var(--primary-shadow);

}


/* Loader  */

.loader-parent {
  width: 100%;
  height: 100%;
  background-color: var(--primary-hover-dim);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: not-allowed;

  &.fade-out {
    opacity: 0;
    pointer-events: none;
  }

  .loader-container {
    position: relative;

    .outer {
      position: absolute;
      animation: rotate 3s infinite linear;
      top: 0;
      left: 0;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(-360deg);
    }
  }
}


/*--- Input Fields  ---*/


.primary-input{
    background-color: var(--secondary-light-bg);
    color: var(--primary-text);
    border-radius: 5px;
    padding-block: 10px;
    padding-inline: 24px;
    width: 400px;
    outline:none;
    
    @media (max-width: 668px) {
        width: 300px;
        padding-block:5px;
    }
@media (max-width: 410px) {
        width: 100%;
        padding-block:5px;
    } 

    &::placeholder{
        color: var(--text-light-gray);
    }
}

.auth-input{
    padding-inline: 10px;
    padding-block: 6px;
    outline:none;
    font-size: 14px;
    border-radius: 10px;
    color: var(--primary-text);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100%;
    &::placeholder{
      color: var(--text-gray);
    }

        /* @apply px-2.5 py-1.5 placeholder:text-[14px] outline-none w-full text-[14px] rounded-l-md ; */

}
.secondary-input{
    padding-block: 4px;
    padding-inline:8px;
    outline:none;
    width: 100%;
    color: var(--primary-text);
    cursor: not-allowed;
    ::placeholder{
        color: text(--text-gray);
        font-weight: 600;
    }
}

.primary-auth-btn{
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  border-radius: 5px;
  padding-block: 5px;
  height: 40px;
  cursor:pointer;
  font-weight: 550;
}

.primary-textarea{
  background-color: var(--secondary-light-bg);
    color: var(--primary-text);
    border-radius: 5px;
    /* padding-block: 10px; */
    /* padding-inline: 24px; */
    padding-block: 9px;
    padding-inline: 14px;
    height: 45px;
    width: 400px;
    outline:none;
    &::-webkit-scrollbar{
    display:none;

    }

    @media (max-width: 668px) {
        width: 300px;
        padding-block:5px;
    } 

    @media (max-width: 410px) {
         width: 100%;
        padding-block:5px;
    }  

    &::placeholder{
        color: var(--text-light-gray);
    } 
}



