
.auth-box {
  padding-left: 2rem;  
  padding-right: 2rem;
  padding-top: 1.25rem; 
  padding-bottom: 1.25rem;

  border-radius: 0.5rem; 

  width: 100%;           /* w-100 */
  max-width: 31.25rem;   /* max-w-125 (125 * 0.25rem = 31.25rem) */

  font-family: 'Poppins', sans-serif;

  background-color: var(--primary-dark-bg);

  /* full-box-shadow (assuming standard shadow) */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 500px) {
  .auth-box {
    padding: 1.5rem;  /* p-6 */
    width: 92vw;
  }
}




































.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--secondary-dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .modal-container.top */
.modal-container.top {
    align-items: flex-start;
    padding-top: 3rem;
}

/* modal */
.modal-container .modal {
    background-color: var(--primary-dark-bg);
    width: min(500px, 87%);
    max-height: 500px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 1em;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 0.3s ease-out forwards;
}

/* modal header */
.modal-container .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text);
}

/* modal heading */
.modal-container .modal-heading {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-text);
}

.modal-container .modal-heading strong {
    color: var(--primary-text);
    font-weight: bold;
    padding-left: 5px;
}

/* modal body */
.modal-container .modal-body {
    padding-top: 0.8rem;
    color: var(--primary-text);
}

/* cross icon */
.modal-container .modal .cross-icon svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    color: var(--primary-text);
}

/* animation */
@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
