:root {
    /* Primary */
    --primary-hover: #F3F4F6;
    --primary-selected: #F3F4F6;
    --primary-dark-bg: #F3F4F6;
    --primary-light-bg: #FFFFFF;
    --secondary-light-bg: #FFFFFF;
    --secondary-dark-bg: #FFFFFF;
    --primary-btn: #4A5565;

    /* Text GRAY */

    --text-gray: #6A7282;
    --text-light-gray: #a8a6a6;
    --shadow: #a8a6a6;


    /*  */

    --primary-text: #000000;
    --primary-hover-dim:rgba(19, 103, 200, 0.24);

    /* Filters */
    --active-filter: #000000;
}


body.dark {

    --primary-hover: #F3F4F6;
    --primary-selected: #FFFFFF;
    --primary-light-bg: #333333;
    --secondary-light-bg: #364153;
    --secondary-dark-bg: #1E2939;
    --primary-dark-bg: #101828;
    --primary-btn: #4A5565;
    --primary-btn-danger: #FF0000;
    --shadow: #000000;
    /* Text */
    --text-gray: #6A7282;
    --text-light-gray: #a8a6a6;
    --primary-text: #FFFFFF;
    --primary-hover-dim:rgba(19, 103, 200, 0.24);

    /* Filter */
    --active-filter: white;

}