@import "tailwindcss";
@import "./styles/variables.css";
@import "./styles/side-bar.css";
@import "./styles/media-query.css";
@import "./styles/base.css";
@import "./styles/atoms.css";
a.active {
  color: red;
  font-weight: bold;
}

.my-active-class{
    background-color: var(--primary-hover);
    border-radius: 8px;
    color: black;

}